openapi: "3.1.0"
info:
  title: Nuclom API
  version: "1.0.0"
  description: Nuclom is a video collaboration platform that helps teams organize, share, and collaborate on video content. This API provides programmatic access to videos, organizations, series, comments, and more.
  contact:
    name: Nuclom Support
    url: "https://nuclom.com/support"
  license:
    name: Elastic License 2.0
    url: "https://www.elastic.co/licensing/elastic-license"
servers:
  - 
    url: "https://nuclom.com/api"
    description: Production server
  - 
    url: "http://localhost:3000/api"
    description: Local development server
tags:
  - 
    name: Videos
    description: Video management endpoints
  - 
    name: Series
    description: Video series/playlist management
  - 
    name: Channels
    description: Channel management
  - 
    name: Organizations
    description: Organization and team management
  - 
    name: Comments
    description: Video comments and discussions
  - 
    name: Search
    description: Search functionality
  - 
    name: Notifications
    description: User notifications
  - 
    name: Billing
    description: Subscription and billing management
  - 
    name: AI
    description: AI-powered video analysis
  - 
    name: Integrations
    description: Third-party integrations (Google Meet, Zoom)
  - 
    name: Health
    description: System health endpoints
  - 
    name: Users
    description: User management
  - 
    name: OAuth
    description: OAuth application management
  - 
    name: Sharing
    description: Content sharing
paths:
  /ai/analyze:
    post:
      tags:
        - AI
      summary: Analyze video
      operationId: createAiAnalyze
      description: Trigger AI analysis of a video (transcript, summary, action items, tags)
      responses:
        200:
          description: Analysis result
          content:
            application/json:
              schema:
                "$defs":
                  UUID:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                    pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                type: object
                required:
                  - videoId
                  - processingTime
                properties:
                  videoId:
                    "$ref": "#/$defs/UUID"
                  transcript:
                    type: string
                  summary:
                    type: string
                  actionItems:
                    type: array
                    items:
                      type: string
                  tags:
                    type: array
                    items:
                      type: string
                  processingTime:
                    type: number
                additionalProperties: false
        400:
          description: Invalid request body
        401:
          description: Unauthorized
  /billing:
    get:
      tags:
        - Billing
      summary: List billing
      operationId: listBilling
      description: GET /api/billing - Get complete billing info for organization
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
  /billing/checkout:
    post:
      tags:
        - Billing
      summary: Create checkout
      operationId: createBillingCheckout
      description: Create a Stripe checkout session for subscription
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Checkout session created
          content:
            application/json:
              schema:
                type: object
                required:
                  - sessionId
                  - url
                properties:
                  sessionId:
                    type: string
                  url:
                    type: string
                additionalProperties: false
        400:
          description: Invalid request body
        401:
          description: Unauthorized
  /billing/invoices:
    get:
      tags:
        - Billing
      summary: List invoices
      operationId: listBillingInvoic
      description: GET /api/billing/invoices - Get invoices for organization
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
  /billing/plans:
    get:
      tags:
        - Billing
      summary: List plans
      operationId: listBillingPlan
      description: Get available billing plans
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: List of billing plans
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - id
                    - name
                    - description
                    - price
                    - features
                    - limits
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    description:
                      type: string
                    price:
                      type: object
                      required:
                        - monthly
                        - yearly
                      properties:
                        monthly:
                          type: number
                        yearly:
                          type: number
                      additionalProperties: false
                    features:
                      type: array
                      items:
                        type: string
                    limits:
                      type: object
                      required:
                        - videos
                        - storage
                        - members
                      properties:
                        videos:
                          type: number
                        storage:
                          type: number
                        members:
                          type: number
                      additionalProperties: false
                  additionalProperties: false
  /billing/portal:
    post:
      tags:
        - Billing
      summary: Create billing portal
      operationId: createBillingPortal
      description: Create a Stripe customer portal session
      security:
        - 
          bearerAuth:[]
      responses:
        201:
          description: Created successfully
        401:
          description: Unauthorized
  /billing/subscription:
    delete:
      tags:
        - Billing
      summary: Delete subscription
      operationId: deleteBillingSubscription
      description: DELETE /api/billing/subscription - Cancel subscription
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
    get:
      tags:
        - Billing
      summary: Get subscription
      operationId: listBillingSubscription
      description: "Get the current organization's subscription"
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Subscription details
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                  - planId
                  - status
                  - currentPeriodStart
                  - currentPeriodEnd
                  - cancelAtPeriodEnd
                properties:
                  id:
                    type: string
                  planId:
                    type: string
                  status:
                    type: string
                  currentPeriodStart:
                    type: string
                  currentPeriodEnd:
                    type: string
                  cancelAtPeriodEnd:
                    type: boolean
                additionalProperties: false
        401:
          description: Unauthorized
        404:
          description: No subscription found
    patch:
      tags:
        - Billing
      summary: Patch subscription
      operationId: patchBillingSubscription
      description: PATCH /api/billing/subscription - Resume canceled subscription
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
  /billing/usage:
    get:
      tags:
        - Billing
      summary: Get usage
      operationId: listBillingUsage
      description: Get current billing usage for the organization
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Billing usage
          content:
            application/json:
              schema:
                type: object
                required:
                  - videos
                  - storage
                  - members
                properties:
                  videos:
                    type: object
                    required:
                      - used
                      - limit
                    properties:
                      used:
                        type: number
                      limit:
                        type: number
                    additionalProperties: false
                  storage:
                    type: object
                    required:
                      - used
                      - limit
                    properties:
                      used:
                        type: number
                      limit:
                        type: number
                    additionalProperties: false
                  members:
                    type: object
                    required:
                      - used
                      - limit
                    properties:
                      used:
                        type: number
                      limit:
                        type: number
                    additionalProperties: false
                additionalProperties: false
        401:
          description: Unauthorized
    post:
      tags:
        - Billing
      summary: Create usage
      operationId: createBillingUsage
      description: GET /api/billing/usage/history - Get usage history
      security:
        - 
          bearerAuth:[]
      responses:
        201:
          description: Created successfully
        401:
          description: Unauthorized
  /channels:
    get:
      tags:
        - Channels
      summary: List channels
      operationId: listChannel
      description: Get channels for an organization
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
    post:
      tags:
        - Channels
      summary: Create channel
      operationId: createChannel
      description: Create a new channel
      security:
        - 
          bearerAuth:[]
      responses:
        201:
          description: Created successfully
        401:
          description: Unauthorized
  /channels/{id}:
    delete:
      tags:
        - Channels
      summary: Delete channel
      operationId: deleteChannel
      description: "DELETE /api/channels/[id] - Delete channel"
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
    get:
      tags:
        - Channels
      summary: Get channel
      operationId: getChannel
      description: Get channel details
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
    patch:
      tags:
        - Channels
      summary: Patch channel
      operationId: patchChannel
      description: "PATCH /api/channels/[id] - Update channel"
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
  /comments/{id}:
    delete:
      tags:
        - Comments
      summary: Delete comment
      operationId: deleteComment
      description: "DELETE /api/comments/[id] - Delete a comment"
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
    get:
      tags:
        - Comments
      summary: Get comment
      operationId: getComment
      description: "GET /api/comments/[id] - Get a single comment"
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
    patch:
      tags:
        - Comments
      summary: Patch comment
      operationId: patchComment
      description: "PATCH /api/comments/[id] - Update a comment"
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
  /comments/{id}/reactions:
    delete:
      tags:
        - Comments
      summary: Delete reaction
      operationId: deleteCommentReaction
      description: "DELETE /api/comments/[id]/reactions - Remove user's reaction"
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
    get:
      tags:
        - Comments
      summary: Get reaction
      operationId: getCommentReaction
      description: "GET /api/comments/[id]/reactions - Get reactions for a comment"
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
    post:
      tags:
        - Comments
      summary: Create reaction
      operationId: createCommentReaction
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        201:
          description: Created successfully
        401:
          description: Unauthorized
        404:
          description: Not found
  /health:
    get:
      tags:
        - Health
      summary: Health check
      operationId: listHealth
      description: Check if the API is running and healthy
      responses:
        200:
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - timestamp
                properties:
                  status:
                    type: string
                  timestamp:
                    type: string
                additionalProperties: false
  /integrations:
    delete:
      tags:
        - Integrations
      summary: Delete integration
      operationId: deleteIntegration
      description: DELETE /api/integrations - Disconnect an integration
      responses:
        200:
          description: Success
    get:
      tags:
        - Integrations
      summary: List integrations
      operationId: listIntegration
      description: GET /api/integrations - List integrations for the current user
      responses:
        200:
          description: Success
  /integrations/{integrationId}/settings:
    get:
      tags:
        - Integrations
      summary: Get setting
      operationId: getIntegrationSetting
      description: "GET /api/integrations/[integrationId]/settings - Get integration settings"
      parameters:
        - 
          name: integrationId
          in: path
          description: IntegrationId ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
    patch:
      tags:
        - Integrations
      summary: Patch setting
      operationId: patchIntegrationSetting
      description: "PATCH /api/integrations/[integrationId]/settings - Update integration settings"
      parameters:
        - 
          name: integrationId
          in: path
          description: IntegrationId ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
  /integrations/google/authorize:
    get:
      tags:
        - Integrations
      summary: List authorize
      operationId: listIntegrationGoogleAuthorize
      responses:
        200:
          description: Success
  /integrations/google/calendar:
    get:
      tags:
        - Integrations
      summary: List calendar
      operationId: listIntegrationGoogleCalendar
      description: GET /api/integrations/google/calendar - List Google Calendar events with Meet links
      responses:
        200:
          description: Success
  /integrations/google/recordings:
    get:
      tags:
        - Integrations
      summary: List recordings
      operationId: listIntegrationGoogleRecording
      description: GET /api/integrations/google/recordings - List Google Meet recordings
      responses:
        200:
          description: List of recordings
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - id
                    - title
                    - startTime
                    - duration
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    startTime:
                      type: string
                    duration:
                      type: number
                    downloadUrl:
                      type: string
                  additionalProperties: false
        401:
          description: Unauthorized
  /integrations/import:
    get:
      tags:
        - Integrations
      summary: List import
      operationId: listIntegrationImport
      description: GET /api/integrations/import - Get import status
      responses:
        200:
          description: Success
    post:
      tags:
        - Integrations
      summary: Create import
      operationId: createIntegrationImport
      description: POST /api/integrations/import - Import recordings from a provider
      responses:
        201:
          description: Created successfully
  /integrations/zoom/authorize:
    get:
      tags:
        - Integrations
      summary: List authorize
      operationId: listIntegrationZoomAuthorize
      responses:
        200:
          description: Success
  /integrations/zoom/meetings:
    get:
      tags:
        - Integrations
      summary: List meetings
      operationId: listIntegrationZoomMeeting
      description: GET /api/integrations/zoom/meetings - List Zoom scheduled/past meetings
      responses:
        200:
          description: Success
  /integrations/zoom/recordings:
    get:
      tags:
        - Integrations
      summary: List recordings
      operationId: listIntegrationZoomRecording
      description: GET /api/integrations/zoom/recordings - List Zoom recordings
      responses:
        200:
          description: List of recordings
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - id
                    - title
                    - startTime
                    - duration
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    startTime:
                      type: string
                    duration:
                      type: number
                    downloadUrl:
                      type: string
                  additionalProperties: false
        401:
          description: Unauthorized
  /invitations/{id}:
    get:
      tags:
        - Invitations
      summary: Get invitation
      operationId: getInvitation
      description: "GET /api/invitations/[id] - Get invitation details"
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
  /notifications:
    get:
      tags:
        - Notifications
      summary: List notifications
      operationId: listNotification
      description: Get paginated notifications for the current user
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: List of notifications
          content:
            application/json:
              schema:
                "$defs":
                  UUID:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                    pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                type: object
                required:
                  - data
                  - pagination
                  - unreadCount
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - type
                        - title
                        - message
                        - read
                        - userId
                        - createdAt
                      properties:
                        id:
                          "$ref": "#/$defs/UUID"
                        type:
                          type: string
                        title:
                          type: string
                        message:
                          type: string
                        read:
                          type: boolean
                        userId:
                          "$ref": "#/$defs/UUID"
                        data:
                          "$id": /schemas/unknown
                          title: unknown
                        createdAt:
                          type: string
                      additionalProperties: false
                  pagination:
                    type: object
                    required:
                      - page
                      - limit
                      - total
                      - totalPages
                    properties:
                      page:
                        type: number
                      limit:
                        type: number
                      total:
                        type: number
                      totalPages:
                        type: number
                    additionalProperties: false
                  unreadCount:
                    type: number
                additionalProperties: false
        401:
          description: Unauthorized
    post:
      tags:
        - Notifications
      summary: Create notification
      operationId: createNotification
      description: POST /api/notifications - Mark all as read
      security:
        - 
          bearerAuth:[]
      responses:
        201:
          description: Created successfully
        401:
          description: Unauthorized
  /notifications/{id}:
    delete:
      tags:
        - Notifications
      summary: Delete notification
      operationId: deleteNotification
      description: "DELETE /api/notifications/[id] - Delete a notification"
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
    patch:
      tags:
        - Notifications
      summary: Patch notification
      operationId: patchNotification
      description: "PATCH /api/notifications/[id] - Mark notification as read"
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
  /oauth/applications:
    get:
      tags:
        - OAuth
      summary: List applications
      operationId: listOauthApplication
      description: "GET /api/oauth/applications - List user's OAuth applications"
      responses:
        200:
          description: Success
    post:
      tags:
        - OAuth
      summary: Create application
      operationId: createOauthApplication
      description: POST /api/oauth/applications - Create a new OAuth application
      responses:
        201:
          description: Created successfully
  /oauth/applications/{id}:
    delete:
      tags:
        - OAuth
      summary: Delete application
      operationId: deleteOauthApplication
      description: "DELETE /api/oauth/applications/[id] - Delete an OAuth application"
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
    get:
      tags:
        - OAuth
      summary: Get application
      operationId: getOauthApplication
      description: "GET /api/oauth/applications/[id] - Get a specific OAuth application"
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
    patch:
      tags:
        - OAuth
      summary: Patch application
      operationId: patchOauthApplication
      description: "PATCH /api/oauth/applications/[id] - Update an OAuth application"
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
  /oauth/consents:
    get:
      tags:
        - OAuth
      summary: List consents
      operationId: listOauthConsent
      description: "GET /api/oauth/consents - List user's authorized OAuth applications"
      responses:
        200:
          description: Success
  /oauth/consents/{id}:
    delete:
      tags:
        - OAuth
      summary: Delete consent
      operationId: deleteOauthConsent
      description: "DELETE /api/oauth/consents/[id] - Revoke access for an OAuth application"
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
  /organizations:
    get:
      tags:
        - Organizations
      summary: List organizations
      operationId: listOrganization
      description: Get organizations the current user is a member of
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: List of organizations
          content:
            application/json:
              schema:
                "$defs":
                  UUID:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                    pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                type: array
                items:
                  type: object
                  required:
                    - id
                    - name
                    - slug
                    - description
                    - logo
                    - createdAt
                    - updatedAt
                  properties:
                    id:
                      "$ref": "#/$defs/UUID"
                    name:
                      type: string
                    slug:
                      type: string
                    description:
                      anyOf:
                        - 
                          type: string
                        - 
                          type: "null"
                    logo:
                      anyOf:
                        - 
                          type: string
                        - 
                          type: "null"
                    createdAt:
                      type: string
                    updatedAt:
                      type: string
                  additionalProperties: false
        401:
          description: Unauthorized
    post:
      tags:
        - Organizations
      summary: Create organization
      operationId: createOrganization
      description: Create a new organization
      security:
        - 
          bearerAuth:[]
      responses:
        201:
          description: Organization created
          content:
            application/json:
              schema:
                "$defs":
                  UUID:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                    pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                type: object
                required:
                  - id
                  - name
                  - slug
                  - description
                  - logo
                  - createdAt
                  - updatedAt
                properties:
                  id:
                    "$ref": "#/$defs/UUID"
                  name:
                    type: string
                  slug:
                    type: string
                  description:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  logo:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  createdAt:
                    type: string
                  updatedAt:
                    type: string
                additionalProperties: false
        400:
          description: Invalid request body
        401:
          description: Unauthorized
  /organizations/{id}/analytics:
    get:
      tags:
        - Organizations
      summary: Get analytic
      operationId: getOrganizationAnalytic
      description: "GET /api/organizations/[id]/analytics - Get organization analytics"
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
  /organizations/{id}/members:
    delete:
      tags:
        - Organizations
      summary: Delete member
      operationId: deleteOrganizationMember
      description: "DELETE /api/organizations/[id]/members - Remove a member"
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
    get:
      tags:
        - Organizations
      summary: List members
      operationId: getOrganizationMember
      description: Get members of an organization
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: List of members
          content:
            application/json:
              schema:
                "$defs":
                  UUID:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                    pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                type: array
                items:
                  type: object
                  required:
                    - id
                    - organizationId
                    - userId
                    - role
                    - createdAt
                  properties:
                    id:
                      "$ref": "#/$defs/UUID"
                    organizationId:
                      "$ref": "#/$defs/UUID"
                    userId:
                      "$ref": "#/$defs/UUID"
                    role:
                      type: string
                      enum:
                        - owner
                        - member
                    user:
                      type: object
                      required:
                        - id
                        - name
                        - email
                        - image
                      properties:
                        id:
                          "$ref": "#/$defs/UUID"
                        name:
                          type: string
                        email:
                          type: string
                        image:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                      additionalProperties: false
                    createdAt:
                      type: string
                  additionalProperties: false
        401:
          description: Unauthorized
        404:
          description: Organization not found
    patch:
      tags:
        - Organizations
      summary: Patch member
      operationId: patchOrganizationMember
      description: "PATCH /api/organizations/[id]/members - Update member role"
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
  /organizations/{id}/settings:
    get:
      tags:
        - Organizations
      summary: Get setting
      operationId: getOrganizationSetting
      description: "GET /api/organizations/[id]/settings - Get organization settings"
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
    patch:
      tags:
        - Organizations
      summary: Patch setting
      operationId: patchOrganizationSetting
      description: "PATCH /api/organizations/[id]/settings - Update organization settings"
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
  /organizations/slug/{slug}:
    get:
      tags:
        - Organizations
      summary: Get slug
      operationId: getOrganizationSlug
      description: "GET /api/organizations/slug/[slug] - Get organization by slug"
      parameters:
        - 
          name: slug
          in: path
          description: Slug ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
  /reports:
    get:
      tags:
        - Reports
      summary: List reports
      operationId: listReport
      description: GET /api/reports - List reports (admin only)
      responses:
        200:
          description: Success
    patch:
      tags:
        - Reports
      summary: Patch report
      operationId: patchReport
      description: PATCH /api/reports - Update a report (admin only)
      responses:
        200:
          description: Success
    post:
      tags:
        - Reports
      summary: Create report
      operationId: createReport
      description: POST /api/reports - Create a new report
      responses:
        201:
          description: Created successfully
  /search:
    get:
      tags:
        - Search
      summary: Search
      operationId: listSearch
      description: Search across videos, series, and other content
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Search results
          content:
            application/json:
              schema:
                "$defs":
                  UUID:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                    pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                type: object
                required:
                  - results
                  - pagination
                  - query
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      required:
                        - type
                        - id
                        - title
                        - description
                        - thumbnailUrl
                        - score
                      properties:
                        type:
                          type: string
                          enum:
                            - video
                            - series
                            - channel
                        id:
                          "$ref": "#/$defs/UUID"
                        title:
                          type: string
                        description:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        thumbnailUrl:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        score:
                          type: number
                        highlights:
                          type: array
                          items:
                            type: string
                      additionalProperties: false
                  pagination:
                    type: object
                    required:
                      - page
                      - limit
                      - total
                      - totalPages
                    properties:
                      page:
                        type: number
                      limit:
                        type: number
                      total:
                        type: number
                      totalPages:
                        type: number
                    additionalProperties: false
                  query:
                    type: string
                additionalProperties: false
        400:
          description: Invalid query
        401:
          description: Unauthorized
  /search/history:
    delete:
      tags:
        - Search
      summary: Delete history
      operationId: deleteSearchHistory
      description: DELETE /api/search/history - Clear search history
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
    get:
      tags:
        - Search
      summary: List history
      operationId: listSearchHistory
      description: GET /api/search/history - Get recent search history
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
  /search/quick:
    get:
      tags:
        - Search
      summary: List quick
      operationId: listSearchQuick
      description: GET /api/search/quick - Quick search for command bar
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
  /search/saved:
    get:
      tags:
        - Search
      summary: List saved
      operationId: listSearchSaved
      description: GET /api/search/saved - Get saved searches
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
    post:
      tags:
        - Search
      summary: Create saved
      operationId: createSearchSaved
      description: POST /api/search/saved - Create a saved search
      security:
        - 
          bearerAuth:[]
      responses:
        201:
          description: Created successfully
        401:
          description: Unauthorized
  /search/saved/{id}:
    delete:
      tags:
        - Search
      summary: Delete saved
      operationId: deleteSearchSaved
      description: "DELETE /api/search/saved/[id] - Delete a saved search"
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
    patch:
      tags:
        - Search
      summary: Patch saved
      operationId: patchSearchSaved
      description: "PATCH /api/search/saved/[id] - Update a saved search"
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
  /search/suggestions:
    get:
      tags:
        - Search
      summary: List suggestions
      operationId: listSearchSuggestion
      description: GET /api/search/suggestions - Get search suggestions
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
  /series:
    get:
      tags:
        - Series
      summary: List series
      operationId: listSery
      description: Get a paginated list of video series for an organization
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: List of series
          content:
            application/json:
              schema:
                "$defs":
                  UUID:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                    pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - name
                        - description
                        - thumbnailUrl
                        - organizationId
                        - isPublic
                        - videoCount
                        - createdAt
                        - updatedAt
                      properties:
                        id:
                          "$ref": "#/$defs/UUID"
                        name:
                          type: string
                        description:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        thumbnailUrl:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        organizationId:
                          "$ref": "#/$defs/UUID"
                        isPublic:
                          type: boolean
                        videoCount:
                          type: number
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
                      additionalProperties: false
                  pagination:
                    type: object
                    required:
                      - page
                      - limit
                      - total
                      - totalPages
                    properties:
                      page:
                        type: number
                      limit:
                        type: number
                      total:
                        type: number
                      totalPages:
                        type: number
                    additionalProperties: false
                additionalProperties: false
        401:
          description: Unauthorized
    post:
      tags:
        - Series
      summary: Create series
      operationId: createSery
      description: Create a new video series/playlist
      security:
        - 
          bearerAuth:[]
      responses:
        201:
          description: Series created
          content:
            application/json:
              schema:
                "$defs":
                  UUID:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                    pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                type: object
                required:
                  - id
                  - name
                  - description
                  - thumbnailUrl
                  - organizationId
                  - isPublic
                  - videoCount
                  - createdAt
                  - updatedAt
                properties:
                  id:
                    "$ref": "#/$defs/UUID"
                  name:
                    type: string
                  description:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  thumbnailUrl:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  organizationId:
                    "$ref": "#/$defs/UUID"
                  isPublic:
                    type: boolean
                  videoCount:
                    type: number
                  createdAt:
                    type: string
                  updatedAt:
                    type: string
                additionalProperties: false
        400:
          description: Invalid request body
        401:
          description: Unauthorized
  /series/{id}:
    delete:
      tags:
        - Series
      summary: Delete series
      operationId: deleteSery
      description: Delete a series (videos are not deleted)
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Series deleted
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                additionalProperties: false
        401:
          description: Unauthorized
        404:
          description: Series not found
    get:
      tags:
        - Series
      summary: Get series
      operationId: getSery
      description: Get a series with its videos
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Series with videos
          content:
            application/json:
              schema:
                "$defs":
                  UUID:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                    pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                type: object
                required:
                  - id
                  - name
                  - description
                  - thumbnailUrl
                  - organizationId
                  - isPublic
                  - videoCount
                  - createdAt
                  - updatedAt
                  - videos
                properties:
                  id:
                    "$ref": "#/$defs/UUID"
                  name:
                    type: string
                  description:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  thumbnailUrl:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  organizationId:
                    "$ref": "#/$defs/UUID"
                  isPublic:
                    type: boolean
                  videoCount:
                    type: number
                  createdAt:
                    type: string
                  updatedAt:
                    type: string
                  videos:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - title
                        - description
                        - duration
                        - thumbnailUrl
                        - videoUrl
                        - authorId
                        - organizationId
                        - channelId
                        - collectionId
                        - transcript
                        - aiSummary
                        - viewCount
                        - isPublic
                        - isDeleted
                        - deletedAt
                        - retentionUntil
                        - createdAt
                        - updatedAt
                      properties:
                        id:
                          "$ref": "#/$defs/UUID"
                        title:
                          type: string
                        description:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        duration:
                          type: string
                        thumbnailUrl:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        videoUrl:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        authorId:
                          "$ref": "#/$defs/UUID"
                        organizationId:
                          "$ref": "#/$defs/UUID"
                        channelId:
                          anyOf:
                            - 
                              "$ref": "#/$defs/UUID"
                            - 
                              type: "null"
                        collectionId:
                          anyOf:
                            - 
                              "$ref": "#/$defs/UUID"
                            - 
                              type: "null"
                        transcript:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        aiSummary:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        viewCount:
                          type: number
                        isPublic:
                          type: boolean
                        isDeleted:
                          type: boolean
                        deletedAt:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        retentionUntil:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
                      additionalProperties: false
                additionalProperties: false
        404:
          description: Series not found
    patch:
      tags:
        - Series
      summary: Patch sery
      operationId: patchSery
      description: "PATCH /api/series/[id] - Update a series"
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
  /series/{id}/progress:
    get:
      tags:
        - Series
      summary: Get progress
      operationId: getSeryProgress
      description: "GET /api/series/[id]/progress - Get user's progress for a series"
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
    post:
      tags:
        - Series
      summary: Create progress
      operationId: createSeryProgress
      description: "POST /api/series/[id]/progress - Update user's progress"
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        201:
          description: Created successfully
        401:
          description: Unauthorized
        404:
          description: Not found
  /series/{id}/videos:
    get:
      tags:
        - Series
      summary: Get video
      operationId: getSeryVideo
      description: "GET /api/series/[id]/videos - Get available videos (not in series)"
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
    patch:
      tags:
        - Series
      summary: Patch video
      operationId: patchSeryVideo
      description: "PATCH /api/series/[id]/videos - Reorder videos in series"
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
    post:
      tags:
        - Series
      summary: Create video
      operationId: createSeryVideo
      description: "POST /api/series/[id]/videos - Add video to series"
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        201:
          description: Created successfully
        401:
          description: Unauthorized
        404:
          description: Not found
  /series/{id}/videos/{videoId}:
    delete:
      tags:
        - Series
      summary: Delete video
      operationId: deleteSeryVideo
      description: "DELETE /api/series/[id]/videos/[videoId] - Remove video from series"
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
        - 
          name: videoId
          in: path
          description: VideoId ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
  /share/{id}:
    get:
      tags:
        - Sharing
      summary: Get share
      operationId: getShare
      description: "GET /api/share/[id] - Get share link data for public access"
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
    post:
      tags:
        - Sharing
      summary: Create share
      operationId: createShare
      description: "POST /api/share/[id] - Track view on share link (called when accessing)"
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        201:
          description: Created successfully
        404:
          description: Not found
  /share/{id}/verify:
    post:
      tags:
        - Sharing
      summary: Create verify
      operationId: createShareVerify
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        201:
          description: Created successfully
        404:
          description: Not found
  /user/export:
    post:
      tags:
        - User
      summary: Create export
      operationId: createUserExport
      description: POST /api/user/export - Export all user data (GDPR compliance)
      responses:
        201:
          description: Created successfully
  /user/preferences:
    get:
      tags:
        - User
      summary: List preferences
      operationId: listUserPreferenc
      description: GET /api/user/preferences - Get user notification preferences
      responses:
        200:
          description: Success
    put:
      tags:
        - User
      summary: Update preferenc
      operationId: updateUserPreferenc
      description: PUT /api/user/preferences - Update user notification preferences
      responses:
        200:
          description: Success
  /users/me:
    delete:
      tags:
        - Users
      summary: Delete me
      operationId: deleteUserMe
      description: DELETE /api/users/me - Request account deletion (soft delete with grace period)
      responses:
        200:
          description: Success
    get:
      tags:
        - Users
      summary: List me
      operationId: listUserMe
      description: GET /api/users/me - Get current user data
      responses:
        200:
          description: Success
    patch:
      tags:
        - Users
      summary: Patch me
      operationId: patchUserMe
      description: PATCH /api/users/me - Update user settings (marketing consent, etc.)
      responses:
        200:
          description: Success
    post:
      tags:
        - Users
      summary: Create me
      operationId: createUserMe
      description: POST /api/users/me - Cancel account deletion
      responses:
        201:
          description: Created successfully
  /users/me/export:
    get:
      tags:
        - Users
      summary: List export
      operationId: listUserMeExport
      responses:
        200:
          description: Success
    post:
      tags:
        - Users
      summary: Create export
      operationId: createUserMeExport
      responses:
        201:
          description: Created successfully
  /videos:
    get:
      tags:
        - Videos
      summary: List videos
      operationId: listVideo
      description: Get a paginated list of videos for an organization
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: List of videos
          content:
            application/json:
              schema:
                "$defs":
                  UUID:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                    pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - title
                        - description
                        - duration
                        - thumbnailUrl
                        - videoUrl
                        - authorId
                        - organizationId
                        - channelId
                        - collectionId
                        - transcript
                        - aiSummary
                        - viewCount
                        - isPublic
                        - isDeleted
                        - deletedAt
                        - retentionUntil
                        - createdAt
                        - updatedAt
                      properties:
                        id:
                          "$ref": "#/$defs/UUID"
                        title:
                          type: string
                        description:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        duration:
                          type: string
                        thumbnailUrl:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        videoUrl:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        authorId:
                          "$ref": "#/$defs/UUID"
                        organizationId:
                          "$ref": "#/$defs/UUID"
                        channelId:
                          anyOf:
                            - 
                              "$ref": "#/$defs/UUID"
                            - 
                              type: "null"
                        collectionId:
                          anyOf:
                            - 
                              "$ref": "#/$defs/UUID"
                            - 
                              type: "null"
                        transcript:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        aiSummary:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        viewCount:
                          type: number
                        isPublic:
                          type: boolean
                        isDeleted:
                          type: boolean
                        deletedAt:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        retentionUntil:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
                      additionalProperties: false
                  pagination:
                    type: object
                    required:
                      - page
                      - limit
                      - total
                      - totalPages
                    properties:
                      page:
                        type: number
                      limit:
                        type: number
                      total:
                        type: number
                      totalPages:
                        type: number
                    additionalProperties: false
                additionalProperties: false
        400:
          description: Invalid request parameters
        401:
          description: Unauthorized
    post:
      tags:
        - Videos
      summary: Create video
      operationId: createVideo
      description: Create a new video entry
      security:
        - 
          bearerAuth:[]
      requestBody:
        required: true
        description: Create video data
        content:
          application/json:
            schema:
              "$defs":
                UUID:
                  type: string
                  description: a Universally Unique Identifier
                  format: uuid
                  pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
              type: object
              required:
                - title
                - duration
                - organizationId
              properties:
                title:
                  type: string
                  description: a string that will be trimmed
                description:
                  anyOf:
                    - 
                      anyOf:
                        - 
                          type: string
                          description: a string that will be trimmed
                        - 
                          type: "null"
                    - 
                      type: "null"
                duration:
                  type: string
                  description: a string at least 1 character(s) long
                  title: minLength(1)
                  minLength: 1
                thumbnailUrl:
                  anyOf:
                    - 
                      anyOf:
                        - 
                          type: string
                        - 
                          type: "null"
                    - 
                      type: "null"
                videoUrl:
                  anyOf:
                    - 
                      anyOf:
                        - 
                          type: string
                        - 
                          type: "null"
                    - 
                      type: "null"
                organizationId:
                  "$ref": "#/$defs/UUID"
                channelId:
                  anyOf:
                    - 
                      anyOf:
                        - 
                          "$ref": "#/$defs/UUID"
                        - 
                          type: "null"
                    - 
                      type: "null"
                collectionId:
                  anyOf:
                    - 
                      anyOf:
                        - 
                          "$ref": "#/$defs/UUID"
                        - 
                          type: "null"
                    - 
                      type: "null"
                transcript:
                  anyOf:
                    - 
                      anyOf:
                        - 
                          type: string
                        - 
                          type: "null"
                    - 
                      type: "null"
                aiSummary:
                  anyOf:
                    - 
                      anyOf:
                        - 
                          type: string
                        - 
                          type: "null"
                    - 
                      type: "null"
              additionalProperties: false
      responses:
        201:
          description: Video created
          content:
            application/json:
              schema:
                "$defs":
                  UUID:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                    pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                type: object
                required:
                  - id
                  - title
                  - description
                  - duration
                  - thumbnailUrl
                  - videoUrl
                  - authorId
                  - organizationId
                  - channelId
                  - collectionId
                  - transcript
                  - aiSummary
                  - viewCount
                  - isPublic
                  - isDeleted
                  - deletedAt
                  - retentionUntil
                  - createdAt
                  - updatedAt
                properties:
                  id:
                    "$ref": "#/$defs/UUID"
                  title:
                    type: string
                  description:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  duration:
                    type: string
                  thumbnailUrl:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  videoUrl:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  authorId:
                    "$ref": "#/$defs/UUID"
                  organizationId:
                    "$ref": "#/$defs/UUID"
                  channelId:
                    anyOf:
                      - 
                        "$ref": "#/$defs/UUID"
                      - 
                        type: "null"
                  collectionId:
                    anyOf:
                      - 
                        "$ref": "#/$defs/UUID"
                      - 
                        type: "null"
                  transcript:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  aiSummary:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  viewCount:
                    type: number
                  isPublic:
                    type: boolean
                  isDeleted:
                    type: boolean
                  deletedAt:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  retentionUntil:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  createdAt:
                    type: string
                  updatedAt:
                    type: string
                additionalProperties: false
        400:
          description: Invalid request body
        401:
          description: Unauthorized
  /videos/{id}:
    delete:
      tags:
        - Videos
      summary: Delete video
      operationId: deleteVideo
      description: Delete a video. By default performs soft-delete with 30-day retention. Use permanent=true for immediate deletion.
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Video deleted
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - data
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    required:
                      - message
                    properties:
                      message:
                        type: string
                      deletedAt:
                        type: string
                      retentionUntil:
                        type: string
                    additionalProperties: false
                additionalProperties: false
        401:
          description: Unauthorized
        404:
          description: Video not found
    get:
      tags:
        - Videos
      summary: Get video
      operationId: getVideo
      description: Get detailed information about a specific video including comments
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Video details
          content:
            application/json:
              schema:
                "$defs":
                  UUID:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                    pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                type: object
                required:
                  - id
                  - title
                  - description
                  - duration
                  - thumbnailUrl
                  - videoUrl
                  - authorId
                  - organizationId
                  - channelId
                  - collectionId
                  - transcript
                  - aiSummary
                  - viewCount
                  - isPublic
                  - isDeleted
                  - deletedAt
                  - retentionUntil
                  - createdAt
                  - updatedAt
                properties:
                  id:
                    "$ref": "#/$defs/UUID"
                  title:
                    type: string
                  description:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  duration:
                    type: string
                  thumbnailUrl:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  videoUrl:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  authorId:
                    "$ref": "#/$defs/UUID"
                  organizationId:
                    "$ref": "#/$defs/UUID"
                  channelId:
                    anyOf:
                      - 
                        "$ref": "#/$defs/UUID"
                      - 
                        type: "null"
                  collectionId:
                    anyOf:
                      - 
                        "$ref": "#/$defs/UUID"
                      - 
                        type: "null"
                  transcript:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  aiSummary:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  viewCount:
                    type: number
                  isPublic:
                    type: boolean
                  isDeleted:
                    type: boolean
                  deletedAt:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  retentionUntil:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  createdAt:
                    type: string
                  updatedAt:
                    type: string
                  author:
                    type: object
                    required:
                      - id
                      - name
                      - image
                    properties:
                      id:
                        "$ref": "#/$defs/UUID"
                      name:
                        type: string
                      image:
                        anyOf:
                          - 
                            type: string
                          - 
                            type: "null"
                    additionalProperties: false
                  comments:
                    type: array
                    items:
                      "$id": /schemas/unknown
                      title: unknown
                  chapters:
                    type: array
                    items:
                      "$id": /schemas/unknown
                      title: unknown
                additionalProperties: false
        404:
          description: Video not found
    put:
      tags:
        - Videos
      summary: Update video
      operationId: updateVideo
      description: Update video metadata
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Video updated
          content:
            application/json:
              schema:
                "$defs":
                  UUID:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                    pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                type: object
                required:
                  - id
                  - title
                  - description
                  - duration
                  - thumbnailUrl
                  - videoUrl
                  - authorId
                  - organizationId
                  - channelId
                  - collectionId
                  - transcript
                  - aiSummary
                  - viewCount
                  - isPublic
                  - isDeleted
                  - deletedAt
                  - retentionUntil
                  - createdAt
                  - updatedAt
                properties:
                  id:
                    "$ref": "#/$defs/UUID"
                  title:
                    type: string
                  description:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  duration:
                    type: string
                  thumbnailUrl:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  videoUrl:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  authorId:
                    "$ref": "#/$defs/UUID"
                  organizationId:
                    "$ref": "#/$defs/UUID"
                  channelId:
                    anyOf:
                      - 
                        "$ref": "#/$defs/UUID"
                      - 
                        type: "null"
                  collectionId:
                    anyOf:
                      - 
                        "$ref": "#/$defs/UUID"
                      - 
                        type: "null"
                  transcript:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  aiSummary:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  viewCount:
                    type: number
                  isPublic:
                    type: boolean
                  isDeleted:
                    type: boolean
                  deletedAt:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  retentionUntil:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  createdAt:
                    type: string
                  updatedAt:
                    type: string
                additionalProperties: false
        400:
          description: Invalid request body
        401:
          description: Unauthorized
        404:
          description: Video not found
  /videos/{id}/chapters:
    get:
      tags:
        - Videos
      summary: List video chapters
      operationId: getVideoChapter
      description: Get chapters/markers for a video
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: List of chapters
          content:
            application/json:
              schema:
                "$defs":
                  UUID:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                    pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                type: array
                items:
                  type: object
                  required:
                    - id
                    - title
                    - summary
                    - startTime
                    - endTime
                    - videoId
                    - createdAt
                  properties:
                    id:
                      "$ref": "#/$defs/UUID"
                    title:
                      type: string
                    summary:
                      anyOf:
                        - 
[...]
