{
  "openapi": "3.1.0",
  "info": {
    "title": "Nuclom API",
    "version": "1.0.0",
    "description": "Nuclom is a video collaboration platform that helps teams organize, share, and collaborate on video content. This API provides programmatic access to videos, organizations, series, comments, and more.",
    "contact": {
      "name": "Nuclom Support",
      "url": "https://nuclom.com/support"
    },
    "license": {
      "name": "Elastic License 2.0",
      "url": "https://www.elastic.co/licensing/elastic-license"
    }
  },
  "servers": [
    {
      "url": "https://nuclom.com/api",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000/api",
      "description": "Local development server"
    }
  ],
  "tags": [
    {
      "name": "Videos",
      "description": "Video management endpoints"
    },
    {
      "name": "Series",
      "description": "Video series/playlist management"
    },
    {
      "name": "Channels",
      "description": "Channel management"
    },
    {
      "name": "Organizations",
      "description": "Organization and team management"
    },
    {
      "name": "Comments",
      "description": "Video comments and discussions"
    },
    {
      "name": "Search",
      "description": "Search functionality"
    },
    {
      "name": "Notifications",
      "description": "User notifications"
    },
    {
      "name": "Billing",
      "description": "Subscription and billing management"
    },
    {
      "name": "AI",
      "description": "AI-powered video analysis"
    },
    {
      "name": "Integrations",
      "description": "Third-party integrations (Google Meet, Zoom)"
    },
    {
      "name": "Health",
      "description": "System health endpoints"
    },
    {
      "name": "Users",
      "description": "User management"
    },
    {
      "name": "OAuth",
      "description": "OAuth application management"
    },
    {
      "name": "Sharing",
      "description": "Content sharing"
    }
  ],
  "paths": {
    "/activity": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "List activity",
        "operationId": "listActivity",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/activity/stats": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "List stats",
        "operationId": "listActivityStat",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/ai/analyze": {
      "post": {
        "tags": [
          "AI"
        ],
        "summary": "Analyze video",
        "operationId": "createAiAnalyze",
        "description": "Trigger AI analysis of a video (transcript, summary, action items, tags)",
        "responses": {
          "200": {
            "description": "Analysis result",
            "content": {
              "application/json": {
                "schema": {
                  "$defs": {
                    "UUID": {
                      "type": "string",
                      "description": "a Universally Unique Identifier",
                      "format": "uuid",
                      "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                    }
                  },
                  "type": "object",
                  "required": [
                    "videoId",
                    "processingTime"
                  ],
                  "properties": {
                    "videoId": {
                      "$ref": "#/$defs/UUID"
                    },
                    "transcript": {
                      "type": "string"
                    },
                    "summary": {
                      "type": "string"
                    },
                    "actionItems": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "processingTime": {
                      "type": "number"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/analytics/speakers": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "List speakers",
        "operationId": "listAnalyticSpeaker",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/analytics/speakers/{speakerId}": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get speaker",
        "operationId": "getAnalyticSpeaker",
        "parameters": [
          {
            "name": "speakerId",
            "in": "path",
            "description": "SpeakerId ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/billing": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List billing",
        "operationId": "listBilling",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/billing/checkout": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Create checkout",
        "operationId": "createBillingCheckout",
        "description": "Create a Stripe checkout session for subscription",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "sessionId",
                    "url"
                  ],
                  "properties": {
                    "sessionId": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/billing/invoices": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List invoices",
        "operationId": "listBillingInvoic",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/billing/plans": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List plans",
        "operationId": "listBillingPlan",
        "description": "Get available billing plans",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of billing plans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "name",
                      "description",
                      "price",
                      "features",
                      "limits"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "price": {
                        "type": "object",
                        "required": [
                          "monthly",
                          "yearly"
                        ],
                        "properties": {
                          "monthly": {
                            "type": "number"
                          },
                          "yearly": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      },
                      "features": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "limits": {
                        "type": "object",
                        "required": [
                          "videos",
                          "storage",
                          "members"
                        ],
                        "properties": {
                          "videos": {
                            "type": "number"
                          },
                          "storage": {
                            "type": "number"
                          },
                          "members": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        }
      }
    },
    "/billing/portal": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Create billing portal",
        "operationId": "createBillingPortal",
        "description": "Create a Stripe customer portal session",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/billing/subscription": {
      "delete": {
        "tags": [
          "Billing"
        ],
        "summary": "Delete subscription",
        "operationId": "deleteBillingSubscription",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get subscription",
        "operationId": "listBillingSubscription",
        "description": "Get the current organization's subscription",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "planId",
                    "status",
                    "currentPeriodStart",
                    "currentPeriodEnd",
                    "cancelAtPeriodEnd"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "planId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "currentPeriodStart": {
                      "type": "string"
                    },
                    "currentPeriodEnd": {
                      "type": "string"
                    },
                    "cancelAtPeriodEnd": {
                      "type": "boolean"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "No subscription found"
          }
        }
      },
      "patch": {
        "tags": [
          "Billing"
        ],
        "summary": "Patch subscription",
        "operationId": "patchBillingSubscription",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/billing/usage": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get usage",
        "operationId": "listBillingUsage",
        "description": "Get current billing usage for the organization",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Billing usage",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "videos",
                    "storage",
                    "members"
                  ],
                  "properties": {
                    "videos": {
                      "type": "object",
                      "required": [
                        "used",
                        "limit"
                      ],
                      "properties": {
                        "used": {
                          "type": "number"
                        },
                        "limit": {
                          "type": "number"
                        }
                      },
                      "additionalProperties": false
                    },
                    "storage": {
                      "type": "object",
                      "required": [
                        "used",
                        "limit"
                      ],
                      "properties": {
                        "used": {
                          "type": "number"
                        },
                        "limit": {
                          "type": "number"
                        }
                      },
                      "additionalProperties": false
                    },
                    "members": {
                      "type": "object",
                      "required": [
                        "used",
                        "limit"
                      ],
                      "properties": {
                        "used": {
                          "type": "number"
                        },
                        "limit": {
                          "type": "number"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Create usage",
        "operationId": "createBillingUsage",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/channels": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "List channels",
        "operationId": "listChannel",
        "description": "Get channels for an organization",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Create channel",
        "operationId": "createChannel",
        "description": "Create a new channel",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/channels/{id}": {
      "delete": {
        "tags": [
          "Channels"
        ],
        "summary": "Delete channel",
        "operationId": "deleteChannel",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Get channel",
        "operationId": "getChannel",
        "description": "Get channel details",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Channels"
        ],
        "summary": "Patch channel",
        "operationId": "patchChannel",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/clips/{id}": {
      "delete": {
        "tags": [
          "Clips"
        ],
        "summary": "Delete clip",
        "operationId": "deleteClip",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "get": {
        "tags": [
          "Clips"
        ],
        "summary": "Get clip",
        "operationId": "getClip",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Clips"
        ],
        "summary": "Patch clip",
        "operationId": "patchClip",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/code-context": {
      "get": {
        "tags": [
          "Code-context"
        ],
        "summary": "List code-context",
        "operationId": "listCode-context",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/comments/{id}": {
      "delete": {
        "tags": [
          "Comments"
        ],
        "summary": "Delete comment",
        "operationId": "deleteComment",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "Get comment",
        "operationId": "getComment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Comments"
        ],
        "summary": "Patch comment",
        "operationId": "patchComment",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/comments/{id}/reactions": {
      "delete": {
        "tags": [
          "Comments"
        ],
        "summary": "Delete reaction",
        "operationId": "deleteCommentReaction",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "Get reaction",
        "operationId": "getCommentReaction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "tags": [
          "Comments"
        ],
        "summary": "Create reaction",
        "operationId": "createCommentReaction",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created successfully"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/embed/{id}": {
      "get": {
        "tags": [
          "Embed"
        ],
        "summary": "Get embed",
        "operationId": "getEmbed",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/embed/{id}/view": {
      "post": {
        "tags": [
          "Embed"
        ],
        "summary": "Create view",
        "operationId": "createEmbedView",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created successfully"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "operationId": "listHealth",
        "description": "Check if the API is running and healthy",
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "timestamp"
                  ],
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/health/ai": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "List ai",
        "operationId": "listHealthAi",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/health/db": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "List db",
        "operationId": "listHealthDb",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/health/r2": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "List r2",
        "operationId": "listHealthR2",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/highlight-reels": {
      "get": {
        "tags": [
          "Highlight-reels"
        ],
        "summary": "List highlight-reels",
        "operationId": "listHighlight-reel",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Highlight-reels"
        ],
        "summary": "Create highlight-reel",
        "operationId": "createHighlight-reel",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created successfully"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/highlight-reels/{id}": {
      "delete": {
        "tags": [
          "Highlight-reels"
        ],
        "summary": "Delete highlight-reel",
        "operationId": "deleteHighlight-reel",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "get": {
        "tags": [
          "Highlight-reels"
        ],
        "summary": "Get highlight-reel",
        "operationId": "getHighlight-reel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Highlight-reels"
        ],
        "summary": "Patch highlight-reel",
        "operationId": "patchHighlight-reel",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/highlight-reels/{id}/render": {
      "post": {
        "tags": [
          "Highlight-reels"
        ],
        "summary": "Create render",
        "operationId": "createHighlight-reelRender",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/insights/action-items": {
      "get": {
        "tags": [
          "Insights"
        ],
        "summary": "List action-items",
        "operationId": "listInsightAction-item",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Insights"
        ],
        "summary": "Create action-item",
        "operationId": "createInsightAction-item",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created successfully"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/insights/action-items/{id}": {
      "delete": {
        "tags": [
          "Insights"
        ],
        "summary": "Delete action-item",
        "operationId": "deleteInsightAction-item",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "get": {
        "tags": [
          "Insights"
        ],
        "summary": "Get action-item",
        "operationId": "getInsightAction-item",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Insights"
        ],
        "summary": "Patch action-item",
        "operationId": "patchInsightAction-item",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/insights/effectiveness": {
      "get": {
        "tags": [
          "Insights"
        ],
        "summary": "List effectiveness",
        "operationId": "listInsightEffectiveness",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/insights/export": {
      "get": {
        "tags": [
          "Insights"
        ],
        "summary": "List export",
        "operationId": "listInsightExport",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Invalid request"
          }
        }
      }
    },
    "/insights/keywords": {
      "get": {
        "tags": [
          "Insights"
        ],
        "summary": "List keywords",
        "operationId": "listInsightKeyword",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/insights/overview": {
      "get": {
        "tags": [
          "Insights"
        ],
        "summary": "List overview",
        "operationId": "listInsightOverview",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/insights/patterns": {
      "get": {
        "tags": [
          "Insights"
        ],
        "summary": "List patterns",
        "operationId": "listInsightPattern",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Invalid request"
          }
        }
      }
    },
    "/insights/summary": {
      "get": {
        "tags": [
          "Insights"
        ],
        "summary": "List summary",
        "operationId": "listInsightSummary",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Invalid request"
          }
        }
      }
    },
    "/insights/topics": {
      "get": {
        "tags": [
          "Insights"
        ],
        "summary": "List topics",
        "operationId": "listInsightTopic",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/integrations": {
      "delete": {
        "tags": [
          "Integrations"
        ],
        "summary": "Delete integration",
        "operationId": "deleteIntegration",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List integrations",
        "operationId": "listIntegration",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/integrations/{integrationId}/settings": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Get setting",
        "operationId": "getIntegrationSetting",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "description": "IntegrationId ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Integrations"
        ],
        "summary": "Patch setting",
        "operationId": "patchIntegrationSetting",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "description": "IntegrationId ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/integrations/github/authorize": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List authorize",
        "operationId": "listIntegrationGithubAuthorize",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/integrations/github/callback": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List callback",
        "operationId": "listIntegrationGithubCallback",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/integrations/google/authorize": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List authorize",
        "operationId": "listIntegrationGoogleAuthorize",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/integrations/google/calendar": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List calendar",
        "operationId": "listIntegrationGoogleCalendar",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/integrations/google/drive": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List drive",
        "operationId": "listIntegrationGoogleDrive",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Create drive",
        "operationId": "createIntegrationGoogleDrive",
        "responses": {
          "201": {
            "description": "Created successfully"
          }
        }
      }
    },
    "/integrations/google/recordings": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List recordings",
        "operationId": "listIntegrationGoogleRecording",
        "responses": {
          "200": {
            "description": "List of recordings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "title",
                      "startTime",
                      "duration"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "startTime": {
                        "type": "string"
                      },
                      "duration": {
                        "type": "number"
                      },
                      "downloadUrl": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/integrations/import": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List import",
        "operationId": "listIntegrationImport",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Create import",
        "operationId": "createIntegrationImport",
        "responses": {
          "201": {
            "description": "Created successfully"
          }
        }
      }
    },
    "/integrations/slack/authorize": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List authorize",
        "operationId": "listIntegrationSlackAuthorize",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/integrations/slack/callback": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List callback",
        "operationId": "listIntegrationSlackCallback",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/integrations/slack/channels": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List channels",
        "operationId": "listIntegrationSlackChannel",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/integrations/slack/webhook": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Create webhook",
        "operationId": "createIntegrationSlackWebhook",
        "responses": {
          "201": {
            "description": "Created successfully"
          }
        }
      }
    },
    "/integrations/teams/authorize": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List authorize",
        "operationId": "listIntegrationTeamAuthorize",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/integrations/teams/callback": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List callback",
        "operationId": "listIntegrationTeamCallback",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/integrations/teams/channels": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List channels",
        "operationId": "listIntegrationTeamChannel",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/integrations/zoom/authorize": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List authorize",
        "operationId": "listIntegrationZoomAuthorize",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/integrations/zoom/meetings": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List meetings",
        "operationId": "listIntegrationZoomMeeting",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/integrations/zoom/recordings": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List recordings",
        "operationId": "listIntegrationZoomRecording",
        "responses": {
          "200": {
            "description": "List of recordings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "title",
                      "startTime",
                      "duration"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "startTime": {
                        "type": "string"
                      },
                      "duration": {
                        "type": "number"
                      },
                      "downloadUrl": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/invitations/{id}": {
      "get": {
        "tags": [
          "Invitations"
        ],
        "summary": "Get invitation",
        "operationId": "getInvitation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/knowledge/context": {
      "get": {
        "tags": [
          "Knowledge"
        ],
        "summary": "List context",
        "operationId": "listKnowledgeContext",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/knowledge/decisions": {
      "get": {
        "tags": [
          "Knowledge"
        ],
        "summary": "List decisions",
        "operationId": "listKnowledgeDecision",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Knowledge"
        ],
        "summary": "Create decision",
        "operationId": "createKnowledgeDecision",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created successfully"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/knowledge/decisions/{id}": {
      "delete": {
        "tags": [
          "Knowledge"
        ],
        "summary": "Delete decision",
        "operationId": "deleteKnowledgeDecision",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "get": {
        "tags": [
          "Knowledge"
        ],
        "summary": "Get decision",
        "operationId": "getKnowledgeDecision",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "tags": [
          "Knowledge"
        ],
        "summary": "Update decision",
        "operationId": "updateKnowledgeDecision",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/knowledge/graph": {
      "get": {
        "tags": [
          "Knowledge"
        ],
        "summary": "List graph",
        "operationId": "listKnowledgeGraph",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/knowledge/timeline": {
      "get": {
        "tags": [
          "Knowledge"
        ],
        "summary": "List timeline",
        "operationId": "listKnowledgeTimeline",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "List notifications",
        "operationId": "listNotification",
        "description": "Get paginated notifications for the current user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of notifications",
            "content": {
              "application/json": {
                "schema": {
                  "$defs": {
                    "UUID": {
                      "type": "string",
                      "description": "a Universally Unique Identifier",
                      "format": "uuid",
                      "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                    }
                  },
                  "type": "object",
                  "required": [
                    "data",
                    "pagination",
                    "unreadCount"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "type",
                          "title",
                          "message",
                          "read",
                          "userId",
                          "createdAt"
                        ],
                        "properties": {
                          "id": {
                            "$ref": "#/$defs/UUID"
                          },
                          "type": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "read": {
                            "type": "boolean"
                          },
                          "userId": {
                            "$ref": "#/$defs/UUID"
                          },
                          "data": {
                            "$id": "/schemas/unknown",
                            "title": "unknown"
                          },
                          "createdAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "required": [
                        "page",
                        "limit",
                        "total",
                        "totalPages"
                      ],
                      "properties": {
                        "page": {
                          "type": "number"
                        },
                        "limit": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        },
                        "totalPages": {
                          "type": "number"
                        }
                      },
                      "additionalProperties": false
                    },
                    "unreadCount": {
                      "type": "number"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Create notification",
        "operationId": "createNotification",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/notifications/{id}": {
      "delete": {
        "tags": [
          "Notifications"
        ],
        "summary": "Delete notification",
        "operationId": "deleteNotification",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Notifications"
        ],
        "summary": "Patch notification",
        "operationId": "patchNotification",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/organizations": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "List organizations",
        "operationId": "listOrganization",
        "description": "Get organizations the current user is a member of",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "$defs": {
                    "UUID": {
                      "type": "string",
                      "description": "a Universally Unique Identifier",
                      "format": "uuid",
                      "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                    }
                  },
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "name",
                      "slug",
                      "description",
                      "logo",
                      "createdAt",
                      "updatedAt"
                    ],
                    "properties": {
                      "id": {
                        "$ref": "#/$defs/UUID"
                      },
                      "name": {
                        "type": "string"
                      },
                      "slug": {
                        "type": "string"
                      },
                      "description": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "logo": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "createdAt": {
                        "type": "string"
                      },
                      "updatedAt": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Create organization",
        "operationId": "createOrganization",
        "description": "Create a new organization",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Organization created",
            "content": {
              "application/json": {
                "schema": {
                  "$defs": {
                    "UUID": {
                      "type": "string",
                      "description": "a Universally Unique Identifier",
                      "format": "uuid",
                      "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                    }
                  },
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "slug",
                    "description",
                    "logo",
                    "createdAt",
                    "updatedAt"
                  ],
                  "properties": {
                    "id": {
                      "$ref": "#/$defs/UUID"
                    },
                    "name": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "logo": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/organizations/{id}/analytics": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get analytic",
        "operationId": "getOrganizationAnalytic",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/organizations/{id}/audit-logs": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get audit-log",
        "operationId": "getOrganizationAudit-log",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Create audit-log",
        "operationId": "createOrganizationAudit-log",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created successfully"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/organizations/{id}/audit-logs/exports/{exportId}": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get export",
        "operationId": "getOrganizationAudit-logExport",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          },
          {
            "name": "exportId",
            "in": "path",
            "description": "ExportId ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/organizations/{id}/audit-logs/stats": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get stat",
        "operationId": "getOrganizationAudit-logStat",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/organizations/{id}/members": {
      "delete": {
        "tags": [
          "Organizations"
        ],
        "summary": "Delete member",
        "operationId": "deleteOrganizationMember",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "List members",
        "operationId": "getOrganizationMember",
        "description": "Get members of an organization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of members",
            "content": {
              "application/json": {
                "schema": {
                  "$defs": {
                    "UUID": {
                      "type": "string",
                      "description": "a Universally Unique Identifier",
                      "format": "uuid",
                      "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                    }
                  },
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "organizationId",
                      "userId",
                      "role",
                      "createdAt"
                    ],
                    "properties": {
                      "id": {
                        "$ref": "#/$defs/UUID"
                      },
                      "organizationId": {
                        "$ref": "#/$defs/UUID"
                      },
                      "userId": {
                        "$ref": "#/$defs/UUID"
                      },
                      "role": {
                        "type": "string",
                        "enum": [
                          "owner",
                          "member"
                        ]
                      },
                      "user": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "email",
                          "image"
                        ],
                        "properties": {
                          "id": {
                            "$ref": "#/$defs/UUID"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "image": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "additionalProperties": false
                      },
                      "createdAt": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Organization not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Organizations"
        ],
        "summary": "Patch member",
        "operationId": "patchOrganizationMember",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/organizations/{id}/members/{userId}/permissions": {
      "delete": {
        "tags": [
          "Organizations"
        ],
        "summary": "Delete permission",
        "operationId": "deleteOrganizationMemberPermission",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "UserId ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get permission",
        "operationId": "getOrganizationMemberPermission",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "UserId ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Create permission",
        "operationId": "createOrganizationMemberPermission",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "UserId ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created successfully"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/organizations/{id}/roles": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get rol",
        "operationId": "getOrganizationRol",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Create rol",
        "operationId": "createOrganizationRol",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created successfully"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/organizations/{id}/roles/{roleId}": {
      "delete": {
        "tags": [
          "Organizations"
        ],
        "summary": "Delete rol",
        "operationId": "deleteOrganizationRol",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "description": "RoleId ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get rol",
        "operationId": "getOrganizationRol",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "description": "RoleId ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Organizations"
        ],
        "summary": "Patch rol",
        "operationId": "patchOrganizationRol",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "description": "RoleId ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
                  "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                }
              },
              "$ref": "#/$defs/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/organizations/{id}/settings": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get setting",
        "operationId": "getOrganizationSetting",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id ID",
            "required": true,
            "schema": {
              "$defs": {
                "UUID": {
                  "type": "string",
                  "description": "a Universally Unique Identifier",
                  "format": "uuid",
[...]
