openapi: "3.1.0"
info:
  title: Nuclom API
  version: "1.0.0"
  description: Nuclom is a video collaboration platform that helps teams organize, share, and collaborate on video content.
  contact:
    name: Nuclom Support
    url: "https://nuclom.com/support"
  license:
    name: Elastic License 2.0
    url: "https://www.elastic.co/licensing/elastic-license"
servers:
  - 
    url: "https://nuclom.com/api"
    description: Production server
tags:
  - 
    name: Videos
    description: Video management endpoints
  - 
    name: Series
    description: Video series/playlist management
  - 
    name: Channels
    description: Channel management
  - 
    name: Organizations
    description: Organization and team management
  - 
    name: Comments
    description: Video comments and discussions
  - 
    name: Search
    description: Search functionality
  - 
    name: Notifications
    description: User notifications
  - 
    name: Billing
    description: Subscription and billing management
  - 
    name: AI
    description: AI-powered video analysis
  - 
    name: Integrations
    description: Third-party integrations
  - 
    name: Health
    description: System health endpoints
  - 
    name: Users
    description: User management
  - 
    name: Sharing
    description: Content sharing
  - 
    name: Clips
    description: Video clips and highlights
paths:
  /activity:
    get:
      tags:
        - Activity
      summary: List activity
      operationId: listActivity
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
  /activity/stats:
    get:
      tags:
        - Activity
      summary: List stats
      operationId: listActivityStat
      responses:
        200:
          description: Success
  /ai/analyze:
    post:
      tags:
        - AI
      summary: Create analyze
      operationId: createAiAnalyze
      responses:
        201:
          description: Created successfully
  /analytics/speakers:
    get:
      tags:
        - Analytics
      summary: Get organization-wide speaker statistics
      operationId: listAnalyticSpeaker
      responses:
        200:
          description: Success
  /analytics/speakers/{speakerId}:
    get:
      tags:
        - Analytics
      summary: Get individual speaker analytics
      operationId: getAnalyticSpeaker
      parameters:
        - 
          name: speakerId
          in: path
          description: SpeakerId ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
  /beta-access:
    post:
      tags:
        - Beta-access
      summary: Create beta-access
      operationId: createBeta-access
      responses:
        201:
          description: Created successfully
        400:
          description: Invalid request
  /billing:
    get:
      tags:
        - Billing
      summary: Get complete billing info for organization
      operationId: listBilling
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
  /billing/invoices:
    get:
      tags:
        - Billing
      summary: Get invoices for organization
      operationId: listBillingInvoic
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
  /billing/plans:
    get:
      tags:
        - Billing
      summary: Get all available plans
      operationId: listBillingPlan
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
  /billing/portal:
    post:
      tags:
        - Billing
      summary: Create Stripe billing portal session
      operationId: createBillingPortal
      security:
        - 
          bearerAuth:[]
      responses:
        201:
          description: Created successfully
        400:
          description: Invalid request
        401:
          description: Unauthorized
  /billing/subscription:
    delete:
      tags:
        - Billing
      summary: Cancel subscription
      operationId: deleteBillingSubscription
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        400:
          description: Invalid request
        401:
          description: Unauthorized
    get:
      tags:
        - Billing
      summary: Get current subscription
      operationId: listBillingSubscription
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
    patch:
      tags:
        - Billing
      summary: Resume canceled subscription
      operationId: patchBillingSubscription
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        400:
          description: Invalid request
        401:
          description: Unauthorized
  /billing/usage:
    get:
      tags:
        - Billing
      summary: Get usage summary
      operationId: listBillingUsage
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
    post:
      tags:
        - Billing
      summary: Get usage history
      operationId: createBillingUsage
      security:
        - 
          bearerAuth:[]
      responses:
        201:
          description: Created successfully
        400:
          description: Invalid request
        401:
          description: Unauthorized
  /channels:
    get:
      tags:
        - Channels
      summary: Get channels for the active organization
      operationId: listChannel
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
    post:
      tags:
        - Channels
      summary: Create a new channel
      operationId: createChannel
      security:
        - 
          bearerAuth:[]
      responses:
        201:
          description: Created successfully
        400:
          description: Invalid request
        401:
          description: Unauthorized
  /channels/{id}:
    delete:
      tags:
        - Channels
      summary: Delete channel
      operationId: deleteChannel
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
    get:
      tags:
        - Channels
      summary: Get channel details
      operationId: getChannel
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
    patch:
      tags:
        - Channels
      summary: Update channel
      operationId: patchChannel
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        400:
          description: Invalid request
        401:
          description: Unauthorized
        404:
          description: Not found
  /clips/{id}:
    delete:
      tags:
        - Clips
      summary: Delete a clip
      operationId: deleteClip
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
    get:
      tags:
        - Clips
      summary: Get a single clip
      operationId: getClip
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
    patch:
      tags:
        - Clips
      summary: Update a clip
      operationId: patchClip
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      requestBody:
        required: true
        description: Update a clip data
        content:
          application/json:
            schema:
              type: object
              required:[]
              properties:
                title:
                  type: string
                  description: a string that will be trimmed
                description:
                  anyOf:
                    - 
                      anyOf:
                        - 
                          type: string
                          description: a string at most 1000 character(s) long
                          title: maxLength(1000)
                          maxLength: 1000
                        - 
                          type: "null"
                    - 
                      type: "null"
                startTime:
                  type: number
                  description: a non-negative number
                  title: greaterThanOrEqualTo(0)
                  minimum: 0
                endTime:
                  type: number
                  description: a positive number
                  title: greaterThan(0)
                  exclusiveMinimum: 0
              additionalProperties: false
      responses:
        200:
          description: Success
        400:
          description: Invalid request
        401:
          description: Unauthorized
        404:
          description: Not found
  /cron:
    get:
      tags:
        - Cron
      summary: List cron
      operationId: listCron
      responses:
        200:
          description: Success
  /embed/{id}:
    get:
      tags:
        - Embed
      summary: Get embed video data
      operationId: getEmbed
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
  /embed/{id}/view:
    post:
      tags:
        - Embed
      summary: Track embed video view
      operationId: createEmbedView
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        201:
          description: Created successfully
        404:
          description: Not found
  /health:
    get:
      tags:
        - Health
      summary: List health
      operationId: listHealth
      description: "GET /api/health - Health check endpoint\n\nReturns the health status of all services using Effect-TS pattern\nfor consistent error handling and observability."
      responses:
        200:
          description: Success
  /health/ai:
    get:
      tags:
        - Health
      summary: List ai
      operationId: listHealthAi
      responses:
        200:
          description: Success
  /health/db:
    get:
      tags:
        - Health
      summary: List db
      operationId: listHealthDb
      responses:
        200:
          description: Success
  /health/r2:
    get:
      tags:
        - Health
      summary: List r2
      operationId: listHealthR2
      responses:
        200:
          description: Success
  /highlight-reels:
    get:
      tags:
        - Clips
      summary: List all highlight reels for an organization
      operationId: listHighlight-reel
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        400:
          description: Invalid request
        401:
          description: Unauthorized
    post:
      tags:
        - Clips
      summary: Create a new highlight reel
      operationId: createHighlight-reel
      security:
        - 
          bearerAuth:[]
      requestBody:
        required: true
        description: Create a new highlight reel data
        content:
          application/json:
            schema:
              "$defs":
                UUID:
                  type: string
                  description: a Universally Unique Identifier
                  format: uuid
                  pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                  description: a string that will be trimmed
                description:
                  anyOf:
                    - 
                      type: string
                      description: a string at most 1000 character(s) long
                      title: maxLength(1000)
                      maxLength: 1000
                    - 
                      type: "null"
                  title: maxLength(1000)
                  description: a string at most 1000 character(s) long
                clipIds:
                  type: array
                  items:
                    "$ref": "#/$defs/UUID"
              additionalProperties: false
      responses:
        201:
          description: Created successfully
        400:
          description: Invalid request
        401:
          description: Unauthorized
  /highlight-reels/{id}:
    delete:
      tags:
        - Clips
      summary: Delete a highlight reel
      operationId: deleteHighlight-reel
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
    get:
      tags:
        - Clips
      summary: Get a single highlight reel
      operationId: getHighlight-reel
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
    patch:
      tags:
        - Clips
      summary: Update a highlight reel
      operationId: patchHighlight-reel
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      requestBody:
        required: true
        description: Update a highlight reel data
        content:
          application/json:
            schema:
              "$defs":
                UUID:
                  type: string
                  description: a Universally Unique Identifier
                  format: uuid
                  pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
              type: object
              required:[]
              properties:
                title:
                  type: string
                  description: a string that will be trimmed
                description:
                  anyOf:
                    - 
                      anyOf:
                        - 
                          type: string
                          description: a string at most 1000 character(s) long
                          title: maxLength(1000)
                          maxLength: 1000
                        - 
                          type: "null"
                    - 
                      type: "null"
                clipIds:
                  type: array
                  items:
                    "$ref": "#/$defs/UUID"
              additionalProperties: false
      responses:
        200:
          description: Success
        400:
          description: Invalid request
        401:
          description: Unauthorized
        404:
          description: Not found
  /highlight-reels/{id}/render:
    post:
      tags:
        - Clips
      summary: Start rendering a highlight reel
      operationId: createHighlight-reelRender
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        201:
          description: Created successfully
        401:
          description: Unauthorized
        404:
          description: Not found
  /insights/action-items:
    get:
      tags:
        - Insights
      summary: Get organization-wide action items
      operationId: listInsightAction-item
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        400:
          description: Invalid request
        401:
          description: Unauthorized
    post:
      tags:
        - Insights
      summary: Create a new action item
      operationId: createInsightAction-item
      security:
        - 
          bearerAuth:[]
      responses:
        201:
          description: Created successfully
        400:
          description: Invalid request
        401:
          description: Unauthorized
  /insights/action-items/{id}:
    delete:
      tags:
        - Insights
      summary: Delete an action item
      operationId: deleteInsightAction-item
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
    get:
      tags:
        - Insights
      summary: Get a single action item
      operationId: getInsightAction-item
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
    patch:
      tags:
        - Insights
      summary: Update an action item
      operationId: patchInsightAction-item
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        400:
          description: Invalid request
        401:
          description: Unauthorized
        404:
          description: Not found
  /insights/effectiveness:
    get:
      tags:
        - Insights
      summary: Get meeting effectiveness metrics
      operationId: listInsightEffectiveness
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        400:
          description: Invalid request
        401:
          description: Unauthorized
  /insights/export:
    get:
      tags:
        - Insights
      summary: List export
      operationId: listInsightExport
      responses:
        200:
          description: Success
        400:
          description: Invalid request
  /insights/keywords:
    get:
      tags:
        - Insights
      summary: Get keyword frequency for word cloud
      operationId: listInsightKeyword
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        400:
          description: Invalid request
        401:
          description: Unauthorized
  /insights/overview:
    get:
      tags:
        - Insights
      summary: Get organization AI insights overview
      operationId: listInsightOverview
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        400:
          description: Invalid request
        401:
          description: Unauthorized
  /insights/patterns:
    get:
      tags:
        - Insights
      summary: List patterns
      operationId: listInsightPattern
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        400:
          description: Invalid request
        401:
          description: Unauthorized
  /insights/summary:
    get:
      tags:
        - Insights
      summary: List summary
      operationId: listInsightSummary
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        400:
          description: Invalid request
        401:
          description: Unauthorized
  /insights/topics:
    get:
      tags:
        - Insights
      summary: Get organization topic trends
      operationId: listInsightTopic
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        400:
          description: Invalid request
        401:
          description: Unauthorized
  /integrations:
    delete:
      tags:
        - Integrations
      summary: Disconnect an integration
      operationId: deleteIntegration
      responses:
        200:
          description: Success
    get:
      tags:
        - Integrations
      summary: List integrations for the current user
      operationId: listIntegration
      responses:
        200:
          description: Success
  /integrations/{integrationId}/settings:
    get:
      tags:
        - Integrations
      summary: Get integration settings
      operationId: getIntegrationSetting
      parameters:
        - 
          name: integrationId
          in: path
          description: IntegrationId ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
    patch:
      tags:
        - Integrations
      summary: Update integration settings
      operationId: patchIntegrationSetting
      parameters:
        - 
          name: integrationId
          in: path
          description: IntegrationId ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
  /integrations/google/authorize:
    get:
      tags:
        - Integrations
      summary: List authorize
      operationId: listIntegrationGoogleAuthorize
      responses:
        200:
          description: Success
  /integrations/google/calendar:
    get:
      tags:
        - Integrations
      summary: List Google Calendar events with Meet links
      operationId: listIntegrationGoogleCalendar
      responses:
        200:
          description: Success
  /integrations/google/drive:
    get:
      tags:
        - Integrations
      summary: List videos and folders from Google Drive
      operationId: listIntegrationGoogleDrive
      responses:
        200:
          description: Success
    post:
      tags:
        - Integrations
      summary: Import videos from Google Drive
      operationId: createIntegrationGoogleDrive
      responses:
        201:
          description: Created successfully
  /integrations/google/recordings:
    get:
      tags:
        - Integrations
      summary: List Google Meet recordings
      operationId: listIntegrationGoogleRecording
      responses:
        200:
          description: Success
  /integrations/google/webhook:
    post:
      tags:
        - Integrations
      summary: Handle Google Drive/Calendar webhooks
      operationId: createIntegrationGoogleWebhook
      responses:
        201:
          description: Created successfully
  /integrations/import:
    get:
      tags:
        - Integrations
      summary: Get import status
      operationId: listIntegrationImport
      responses:
        200:
          description: Success
    post:
      tags:
        - Integrations
      summary: Import recordings from a provider
      operationId: createIntegrationImport
      responses:
        201:
          description: Created successfully
  /integrations/slack/authorize:
    get:
      tags:
        - Integrations
      summary: List authorize
      operationId: listIntegrationSlackAuthorize
      responses:
        200:
          description: Success
  /integrations/slack/callback:
    get:
      tags:
        - Integrations
      summary: List callback
      operationId: listIntegrationSlackCallback
      responses:
        200:
          description: Success
  /integrations/slack/channels:
    get:
      tags:
        - Integrations
      summary: List channels
      operationId: listIntegrationSlackChannel
      responses:
        200:
          description: Success
  /integrations/slack/webhook:
    post:
      tags:
        - Integrations
      summary: Create webhook
      operationId: createIntegrationSlackWebhook
      responses:
        201:
          description: Created successfully
  /integrations/teams/authorize:
    get:
      tags:
        - Integrations
      summary: List authorize
      operationId: listIntegrationTeamAuthorize
      responses:
        200:
          description: Success
  /integrations/teams/callback:
    get:
      tags:
        - Integrations
      summary: List callback
      operationId: listIntegrationTeamCallback
      responses:
        200:
          description: Success
  /integrations/teams/channels:
    get:
      tags:
        - Integrations
      summary: List channels
      operationId: listIntegrationTeamChannel
      responses:
        200:
          description: Success
  /integrations/zoom/authorize:
    get:
      tags:
        - Integrations
      summary: List authorize
      operationId: listIntegrationZoomAuthorize
      responses:
        200:
          description: Success
  /integrations/zoom/meetings:
    get:
      tags:
        - Integrations
      summary: List Zoom scheduled/past meetings
      operationId: listIntegrationZoomMeeting
      responses:
        200:
          description: Success
  /integrations/zoom/recordings:
    get:
      tags:
        - Integrations
      summary: List Zoom recordings
      operationId: listIntegrationZoomRecording
      responses:
        200:
          description: Success
  /integrations/zoom/webhook:
    post:
      tags:
        - Integrations
      summary: Handle Zoom webhooks
      operationId: createIntegrationZoomWebhook
      responses:
        201:
          description: Created successfully
  /invitations/{id}:
    get:
      tags:
        - Invitations
      summary: Get invitation details
      operationId: getInvitation
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
  /knowledge/context:
    get:
      tags:
        - Knowledge
      summary: Get decision context for an artifact
      operationId: listKnowledgeContext
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        400:
          description: Invalid request
        401:
          description: Unauthorized
  /knowledge/decisions:
    get:
      tags:
        - Knowledge
      summary: List decisions for an organization
      operationId: listKnowledgeDecision
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        400:
          description: Invalid request
        401:
          description: Unauthorized
    post:
      tags:
        - Knowledge
      summary: Create a new decision
      operationId: createKnowledgeDecision
      security:
        - 
          bearerAuth:[]
      responses:
        201:
          description: Created successfully
        400:
          description: Invalid request
        401:
          description: Unauthorized
  /knowledge/decisions/{id}:
    delete:
      tags:
        - Knowledge
      summary: Delete a decision
      operationId: deleteKnowledgeDecision
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
    get:
      tags:
        - Knowledge
      summary: Get a specific decision
      operationId: getKnowledgeDecision
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
    put:
      tags:
        - Knowledge
      summary: Update a decision
      operationId: updateKnowledgeDecision
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        400:
          description: Invalid request
        401:
          description: Unauthorized
        404:
          description: Not found
  /knowledge/graph:
    get:
      tags:
        - Knowledge
      summary: Get knowledge graph visualization data
      operationId: listKnowledgeGraph
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        400:
          description: Invalid request
        401:
          description: Unauthorized
  /knowledge/timeline:
    get:
      tags:
        - Knowledge
      summary: Get decision timeline
      operationId: listKnowledgeTimeline
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        400:
          description: Invalid request
        401:
          description: Unauthorized
  /notifications:
    get:
      tags:
        - Notifications
      summary: "Get user's notifications"
      operationId: listNotification
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
    post:
      tags:
        - Notifications
      summary: Mark all as read
      operationId: createNotification
      security:
        - 
          bearerAuth:[]
      responses:
        201:
          description: Created successfully
        401:
          description: Unauthorized
  /notifications/{id}:
    delete:
      tags:
        - Notifications
      summary: Delete a notification
      operationId: deleteNotification
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
    patch:
      tags:
        - Notifications
      summary: Mark notification as read
      operationId: patchNotification
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
  /organizations:
    get:
      tags:
        - Organizations
      summary: "Get user's organizations"
      operationId: listOrganization
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
    post:
      tags:
        - Organizations
      summary: Create organization
      operationId: createOrganization
      security:
        - 
          bearerAuth:[]
      requestBody:
        required: true
        description: Create organization data
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: a string that will be trimmed
                slug:
                  type: string
                  description: "a string matching the pattern ^[a-z0-9-]+$"
                  title: maxLength(50)
                  minLength: 1
                  maxLength: 50
                  pattern: "^[a-z0-9-]+$"
                description:
                  anyOf:
                    - 
                      anyOf:
                        - 
                          type: string
                          description: a string that will be trimmed
                        - 
                          type: "null"
                    - 
                      type: "null"
                logo:
                  anyOf:
                    - 
                      anyOf:
                        - 
                          type: string
                        - 
                          type: "null"
                    - 
                      type: "null"
              additionalProperties: false
      responses:
        201:
          description: Created successfully
        400:
          description: Invalid request
        401:
          description: Unauthorized
  /organizations/{id}/analytics:
    get:
      tags:
        - Organizations
      summary: Get organization analytics
      operationId: getOrganizationAnalytic
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
  /organizations/{id}/audit-logs:
    get:
      tags:
        - Organizations
      summary: Query audit logs
      operationId: getOrganizationAudit-log
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
    post:
      tags:
        - Organizations
      summary: Request audit log export
      operationId: createOrganizationAudit-log
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        201:
          description: Created successfully
        404:
          description: Not found
  /organizations/{id}/audit-logs/exports/{exportId}:
    get:
      tags:
        - Organizations
      summary: Get export status
      operationId: getOrganizationAudit-logExport
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
        - 
          name: exportId
          in: path
          description: ExportId ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
  /organizations/{id}/audit-logs/stats:
    get:
      tags:
        - Organizations
      summary: Get audit log statistics
      operationId: getOrganizationAudit-logStat
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
  /organizations/{id}/members:
    delete:
      tags:
        - Organizations
      summary: Remove a member
      operationId: deleteOrganizationMember
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
    get:
      tags:
        - Organizations
      summary: Get organization members
      operationId: getOrganizationMember
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
    patch:
      tags:
        - Organizations
      summary: Update member role
      operationId: patchOrganizationMember
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
  /organizations/{id}/members/{userId}/permissions:
    delete:
      tags:
        - Organizations
      summary: Demote to member role
      operationId: deleteOrganizationMemberPermission
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
        - 
          name: userId
          in: path
          description: UserId ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
    get:
      tags:
        - Organizations
      summary: Get user permissions
      operationId: getOrganizationMemberPermission
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
        - 
          name: userId
          in: path
          description: UserId ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
    post:
      tags:
        - Organizations
      summary: Update member role
      operationId: createOrganizationMemberPermission
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
        - 
          name: userId
          in: path
          description: UserId ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        201:
          description: Created successfully
        404:
          description: Not found
  /organizations/{id}/roles:
    get:
      tags:
        - Organizations
      summary: Get all roles
      operationId: getOrganizationRol
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
    post:
      tags:
        - Organizations
      summary: Create a custom role
      operationId: createOrganizationRol
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        201:
          description: Created successfully
        404:
          description: Not found
  /organizations/{id}/roles/{roleId}:
    delete:
      tags:
        - Organizations
      summary: Delete role
      operationId: deleteOrganizationRol
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
        - 
          name: roleId
          in: path
          description: RoleId ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
    get:
      tags:
        - Organizations
      summary: Get role details
      operationId: getOrganizationRol
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
        - 
          name: roleId
          in: path
          description: RoleId ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
    patch:
      tags:
        - Organizations
      summary: Update role
      operationId: patchOrganizationRol
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
        - 
          name: roleId
          in: path
          description: RoleId ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
  /organizations/{id}/settings:
    get:
      tags:
        - Organizations
      summary: Get organization settings
      operationId: getOrganizationSetting
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
    patch:
      tags:
        - Organizations
      summary: Update organization settings
      operationId: patchOrganizationSetting
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
  /organizations/slug/{slug}:
    get:
      tags:
        - Organizations
      summary: Get organization by slug
      operationId: getOrganizationSlug
      parameters:
        - 
          name: slug
          in: path
          description: Slug ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
  /search:
    get:
      tags:
        - Search
      summary: Search videos with full-text search
      operationId: listSearch
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
  /search/history:
    delete:
      tags:
        - Search
      summary: Clear search history
      operationId: deleteSearchHistory
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
    get:
      tags:
        - Search
      summary: Get recent search history
      operationId: listSearchHistory
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
  /search/hybrid:
    get:
      tags:
        - Search
      summary: Hybrid search via query params
      operationId: listSearchHybrid
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
    post:
      tags:
        - Search
      summary: Hybrid search combining keyword and semantic
      operationId: createSearchHybrid
      security:
        - 
          bearerAuth:[]
      responses:
        201:
          description: Created successfully
        400:
          description: Invalid request
        401:
          description: Unauthorized
  /search/quick:
    get:
      tags:
        - Search
      summary: Quick search for command bar
      operationId: listSearchQuick
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
  /search/saved:
    get:
      tags:
        - Search
      summary: Get saved searches
      operationId: listSearchSaved
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
    post:
      tags:
        - Search
      summary: Create a saved search
      operationId: createSearchSaved
      security:
        - 
          bearerAuth:[]
      responses:
        201:
          description: Created successfully
        400:
          description: Invalid request
        401:
          description: Unauthorized
  /search/saved/{id}:
    delete:
      tags:
        - Search
      summary: Delete a saved search
      operationId: deleteSearchSaved
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
    patch:
      tags:
        - Search
      summary: Update a saved search
      operationId: patchSearchSaved
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        400:
          description: Invalid request
        401:
          description: Unauthorized
        404:
          description: Not found
  /search/semantic:
    get:
      tags:
        - Search
      summary: Simple semantic search via query params
      operationId: listSearchSemantic
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
    post:
      tags:
        - Search
      summary: Semantic search using embeddings
      operationId: createSearchSemantic
      security:
        - 
          bearerAuth:[]
      responses:
        201:
          description: Created successfully
        400:
          description: Invalid request
        401:
          description: Unauthorized
  /search/suggestions:
    get:
      tags:
        - Search
      summary: Get search suggestions
      operationId: listSearchSuggestion
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
  /series:
    get:
      tags:
        - Series
      summary: List series
      operationId: listSery
      description: Get a paginated list of video series for an organization
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: List of series with pagination
          content:
            application/json:
              schema:
                "$defs":
                  UUID:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                    pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - name
                        - description
                        - thumbnailUrl
                        - organizationId
                        - isPublic
                        - videoCount
                        - createdAt
                        - updatedAt
                      properties:
                        id:
                          "$ref": "#/$defs/UUID"
                        name:
                          type: string
                        description:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        thumbnailUrl:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        organizationId:
                          "$ref": "#/$defs/UUID"
                        isPublic:
                          type: boolean
                        videoCount:
                          type: number
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
                      additionalProperties: false
                  pagination:
                    type: object
                    required:
                      - page
                      - limit
                      - total
                      - totalPages
                    properties:
                      page:
                        type: number
                      limit:
                        type: number
                      total:
                        type: number
                      totalPages:
                        type: number
                    additionalProperties: false
                additionalProperties: false
        400:
          description: - Invalid request parameters
        401:
          description: - Unauthorized
    post:
      tags:
        - Series
      summary: Create series
      operationId: createSery
      description: Create a new video series/playlist
      security:
        - 
          bearerAuth:[]
      requestBody:
        required: true
        description: Create series data
        content:
          application/json:
            schema:
              "$defs":
                UUID:
                  type: string
                  description: a Universally Unique Identifier
                  format: uuid
                  pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
              type: object
              required:
                - name
                - organizationId
              properties:
                name:
                  type: string
                  description: a string that will be trimmed
                description:
                  anyOf:
                    - 
                      anyOf:
                        - 
                          type: string
                          description: a string that will be trimmed
                        - 
                          type: "null"
                    - 
                      type: "null"
                thumbnailUrl:
                  anyOf:
                    - 
                      anyOf:
                        - 
                          type: string
                        - 
                          type: "null"
                    - 
                      type: "null"
                organizationId:
                  "$ref": "#/$defs/UUID"
                isPublic:
                  type: boolean
              additionalProperties: false
      responses:
        201:
          description: Series created successfully
          content:
            application/json:
              schema:
                "$defs":
                  UUID:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                    pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                type: object
                required:
                  - id
                  - name
                  - description
                  - thumbnailUrl
                  - organizationId
                  - isPublic
                  - videoCount
                  - createdAt
                  - updatedAt
                properties:
                  id:
                    "$ref": "#/$defs/UUID"
                  name:
                    type: string
                  description:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  thumbnailUrl:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  organizationId:
                    "$ref": "#/$defs/UUID"
                  isPublic:
                    type: boolean
                  videoCount:
                    type: number
                  createdAt:
                    type: string
                  updatedAt:
                    type: string
                additionalProperties: false
        400:
          description: - Invalid request body
        401:
          description: - Unauthorized
  /series/{id}:
    delete:
      tags:
        - Series
      summary: Delete a series
      operationId: deleteSery
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
    get:
      tags:
        - Series
      summary: Get series with videos
      operationId: getSery
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
    patch:
      tags:
        - Series
      summary: Update a series
      operationId: patchSery
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      requestBody:
        required: true
        description: Update a series data
        content:
          application/json:
            schema:
              type: object
              required:[]
              properties:
                name:
                  type: string
                  description: a string that will be trimmed
                description:
                  anyOf:
                    - 
                      anyOf:
                        - 
                          type: string
                          description: a string that will be trimmed
                        - 
                          type: "null"
                    - 
                      type: "null"
                thumbnailUrl:
                  anyOf:
                    - 
                      anyOf:
                        - 
                          type: string
                        - 
                          type: "null"
                    - 
                      type: "null"
                isPublic:
                  type: boolean
              additionalProperties: false
      responses:
        200:
          description: Success
        400:
          description: Invalid request
        401:
          description: Unauthorized
        404:
          description: Not found
  /series/{id}/progress:
    get:
      tags:
        - Series
      summary: "Get user's progress for a series"
      operationId: getSeryProgress
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
    post:
      tags:
        - Series
      summary: "Update user's progress"
      operationId: createSeryProgress
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        201:
          description: Created successfully
        401:
          description: Unauthorized
        404:
          description: Not found
  /series/{id}/videos:
    get:
      tags:
        - Series
      summary: Get available videos (not in series)
      operationId: getSeryVideo
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
    patch:
      tags:
        - Series
      summary: Reorder videos in series
      operationId: patchSeryVideo
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        400:
          description: Invalid request
        401:
          description: Unauthorized
        404:
          description: Not found
    post:
      tags:
        - Series
      summary: Add video to series
      operationId: createSeryVideo
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        201:
          description: Created successfully
        400:
          description: Invalid request
        401:
          description: Unauthorized
        404:
          description: Not found
  /series/{id}/videos/{videoId}:
    delete:
      tags:
        - Series
      summary: Remove video from series
      operationId: deleteSeryVideo
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
        - 
          name: videoId
          in: path
          description: VideoId ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
  /share/{id}:
    get:
      tags:
        - Sharing
      summary: Get share link data for public access
      operationId: getShare
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
    post:
      tags:
        - Sharing
      summary: Track view on share link (called when accessing)
      operationId: createShare
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        201:
          description: Created successfully
        404:
          description: Not found
  /share/{id}/verify:
    post:
      tags:
        - Sharing
      summary: Create verify
      operationId: createShareVerify
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        201:
          description: Created successfully
        400:
          description: Invalid request
        404:
          description: Not found
  /status:
    get:
      tags:
        - Status
      summary: Public status page endpoint
      operationId: listStatu
      responses:
        200:
          description: Success
  /user/export:
    post:
      tags:
        - User
      summary: Export all user data (GDPR compliance)
      operationId: createUserExport
      responses:
        201:
          description: Created successfully
  /user/preferences:
    get:
      tags:
        - User
      summary: Get user notification preferences
      operationId: listUserPreferenc
      responses:
        200:
          description: Success
    put:
      tags:
        - User
      summary: Update user notification preferences
      operationId: updateUserPreferenc
      responses:
        200:
          description: Success
  /user/sessions:
    delete:
      tags:
        - User
      summary: Revoke all other sessions
      operationId: deleteUserSession
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
    get:
      tags:
        - User
      summary: List active sessions
      operationId: listUserSession
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
  /user/sessions/{sessionId}:
    delete:
      tags:
        - User
      summary: Revoke a specific session
      operationId: deleteUserSession
      security:
        - 
          bearerAuth:[]
      parameters:
        - 
          name: sessionId
          in: path
          description: SessionId ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not found
  /users/me:
    delete:
      tags:
        - Users
      summary: Request account deletion (soft delete with grace period)
      operationId: deleteUserMe
      responses:
        200:
          description: Success
    get:
      tags:
        - Users
      summary: Get current user data
      operationId: listUserMe
      responses:
        200:
          description: Success
    patch:
      tags:
        - Users
      summary: Update user settings (marketing consent, etc.)
      operationId: patchUserMe
      responses:
        200:
          description: Success
    post:
      tags:
        - Users
      summary: Cancel account deletion
      operationId: createUserMe
      responses:
        201:
          description: Created successfully
  /users/me/export:
    get:
      tags:
        - Users
      summary: List export
      operationId: listUserMeExport
      responses:
        200:
          description: Success
    post:
      tags:
        - Users
      summary: Create export
      operationId: createUserMeExport
      responses:
        201:
          description: Created successfully
  /videos:
    get:
      tags:
        - Videos
      summary: List videos
      operationId: listVideo
      description: Get a paginated list of videos for an organization
      security:
        - 
          bearerAuth:[]
      responses:
        200:
          description: List of videos with pagination
          content:
            application/json:
              schema:
                "$defs":
                  UUID:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                    pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - title
                        - description
                        - duration
                        - thumbnailUrl
                        - videoUrl
                        - authorId
                        - organizationId
                        - channelId
                        - collectionId
                        - transcript
                        - aiSummary
                        - viewCount
                        - isPublic
                        - isDeleted
                        - deletedAt
                        - retentionUntil
                        - createdAt
                        - updatedAt
                      properties:
                        id:
                          "$ref": "#/$defs/UUID"
                        title:
                          type: string
                        description:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        duration:
                          type: string
                        thumbnailUrl:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        videoUrl:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        authorId:
                          "$ref": "#/$defs/UUID"
                        organizationId:
                          "$ref": "#/$defs/UUID"
                        channelId:
                          anyOf:
                            - 
                              "$ref": "#/$defs/UUID"
                            - 
                              type: "null"
                        collectionId:
                          anyOf:
                            - 
                              "$ref": "#/$defs/UUID"
                            - 
                              type: "null"
                        transcript:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        aiSummary:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        viewCount:
                          type: number
                        isPublic:
                          type: boolean
                        isDeleted:
                          type: boolean
                        deletedAt:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        retentionUntil:
                          anyOf:
                            - 
                              type: string
                            - 
                              type: "null"
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
                      additionalProperties: false
                  pagination:
                    type: object
                    required:
                      - page
                      - limit
                      - total
                      - totalPages
                    properties:
                      page:
                        type: number
                      limit:
                        type: number
                      total:
                        type: number
                      totalPages:
                        type: number
                    additionalProperties: false
                additionalProperties: false
        400:
          description: - Invalid request parameters
        401:
          description: - Unauthorized
    post:
      tags:
        - Videos
      summary: Create video
      operationId: createVideo
      description: Create a new video entry with metadata
      security:
        - 
          bearerAuth:[]
      requestBody:
        required: true
        description: Create video data
        content:
          application/json:
            schema:
              "$defs":
                UUID:
                  type: string
                  description: a Universally Unique Identifier
                  format: uuid
                  pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
              type: object
              required:
                - title
                - duration
                - organizationId
              properties:
                title:
                  type: string
                  description: a string that will be trimmed
                description:
                  anyOf:
                    - 
                      anyOf:
                        - 
                          type: string
                          description: a string that will be trimmed
                        - 
                          type: "null"
                    - 
                      type: "null"
                duration:
                  type: string
                  description: a string at least 1 character(s) long
                  title: minLength(1)
                  minLength: 1
                thumbnailUrl:
                  anyOf:
                    - 
                      anyOf:
                        - 
                          type: string
                        - 
                          type: "null"
                    - 
                      type: "null"
                videoUrl:
                  anyOf:
                    - 
                      anyOf:
                        - 
                          type: string
                        - 
                          type: "null"
                    - 
                      type: "null"
                organizationId:
                  "$ref": "#/$defs/UUID"
                channelId:
                  anyOf:
                    - 
                      anyOf:
                        - 
                          "$ref": "#/$defs/UUID"
                        - 
                          type: "null"
                    - 
                      type: "null"
                collectionId:
                  anyOf:
                    - 
                      anyOf:
                        - 
                          "$ref": "#/$defs/UUID"
                        - 
                          type: "null"
                    - 
                      type: "null"
                transcript:
                  anyOf:
                    - 
                      anyOf:
                        - 
                          type: string
                        - 
                          type: "null"
                    - 
                      type: "null"
                aiSummary:
                  anyOf:
                    - 
                      anyOf:
                        - 
                          type: string
                        - 
                          type: "null"
                    - 
                      type: "null"
              additionalProperties: false
      responses:
        201:
          description: Video created successfully
          content:
            application/json:
              schema:
                "$defs":
                  UUID:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                    pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
                type: object
                required:
                  - id
                  - title
                  - description
                  - duration
                  - thumbnailUrl
                  - videoUrl
                  - authorId
                  - organizationId
                  - channelId
                  - collectionId
                  - transcript
                  - aiSummary
                  - viewCount
                  - isPublic
                  - isDeleted
                  - deletedAt
                  - retentionUntil
                  - createdAt
                  - updatedAt
                properties:
                  id:
                    "$ref": "#/$defs/UUID"
                  title:
                    type: string
                  description:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  duration:
                    type: string
                  thumbnailUrl:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  videoUrl:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  authorId:
                    "$ref": "#/$defs/UUID"
                  organizationId:
                    "$ref": "#/$defs/UUID"
                  channelId:
                    anyOf:
                      - 
                        "$ref": "#/$defs/UUID"
                      - 
                        type: "null"
                  collectionId:
                    anyOf:
                      - 
                        "$ref": "#/$defs/UUID"
                      - 
                        type: "null"
                  transcript:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  aiSummary:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  viewCount:
                    type: number
                  isPublic:
                    type: boolean
                  isDeleted:
                    type: boolean
                  deletedAt:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  retentionUntil:
                    anyOf:
                      - 
                        type: string
                      - 
                        type: "null"
                  createdAt:
                    type: string
                  updatedAt:
                    type: string
                additionalProperties: false
        400:
          description: - Invalid request body
        401:
          description: - Unauthorized
  /videos/{id}:
    delete:
      tags:
        - Videos
      summary: Delete video
      operationId: deleteVideo
      description: "DELETE /api/videos/[id]\n\nBy default, performs a soft delete with a 30-day retention period.\nQuery parameters:\n- permanent=true: Permanently delete the video and clean up R2 storage\n- retentionDays=N: Override the default retention period (only for soft delete)"
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
    get:
      tags:
        - Videos
      summary: Get video details
      operationId: getVideo
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
    put:
      tags:
        - Videos
      summary: Update video
      operationId: updateVideo
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        400:
          description: Invalid request
        404:
          description: Not found
  /videos/{id}/analytics/talk-time:
    get:
      tags:
        - Videos
      summary: Get talk time distribution
      operationId: getVideoAnalyticTalk-time
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
  /videos/{id}/chapters:
    get:
      tags:
        - Videos
      summary: Get video chapters
      operationId: getVideoChapter
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
        404:
          description: Not found
  /videos/{id}/clips:
    get:
      tags:
        - Videos
      summary: List all clips for a video
      operationId: getVideoClip
      parameters:
        - 
          name: id
          in: path
          description: Id ID
          required: true
          schema:
            "$defs":
              UUID:
                type: string
                description: a Universally Unique Identifier
                format: uuid
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            "$ref": "#/$defs/UUID"
      responses:
        200:
          description: Success
[...]
